[submodule "vault"]
	path = vault
	url = https://github.com/monib-intel/vault.git
[submodule "website"]
	path = website
	url = https://github.com/monib-intel/monib.life-website.git
[submodule "services/syntopical-reading-assistant"]
	path = services/syntopical-reading-assistant
	url = https://github.com/monib-intel/syntopical-reading-assistant.git
[submodule "services/reading-assistant"]
	path = services/reading-assistant
	url = https://github.com/monib-intel/reading-bot.git
